html
{
font-family: 'Sriracha', cursive;
font-size: 19px;/* px значит 'пиксели': базовый шрифт будет 19 пикселей в высоту  */
}
h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #AB3470;
  }
  body {
    width: 500px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0px 20px 20px 20px;
    border: 5px solid rgb(12, 16, 51);
  }
  h1 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(17, 15, 139);
    text-shadow: 3px 5px 3px rgb(13, 19, 14);
  }
  img {
    display: block;
    margin: 0 auto;
  }